.title {
    font-size: 21pt;
    color: #29ABE2;
    text-transform: uppercase;
}

.sub-title {
    font-family: "Helvetica Neue Bold";
    font-size: 24pt;
    color: #192B57;
}

.divider {
    border-bottom: solid 1px lightgrey;
}

.bx-wrapper .bx-viewport {
    box-shadow: 0 0 5px white;
}