.contacto-hbs {
    overflow: hidden;
}

.contacto-hbs > div {
    float: left;
    margin-right: 30px;
}

.contacto-hbs .localizacion-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    padding-top: 50px;
}

.contacto-hbs .contacto-content {
    margin-top: 150px;
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
}

.contacto-hbs .contacto-sub-title {
    font-size: 20pt;
    text-transform: uppercase;
    color: #29ABE2;
}

.contacto-hbs .contacto-direccion {
    margin-top: 20px;
}

@media only screen and (max-device-width: 480px) {
    .contacto-hbs .content-splash {
        display: none;
    }

    .contacto-hbs .contacto-content {
        padding-left: 10px;
        padding-right: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}