.empresa-hbs {
    overflow: hidden;
}

.empresa-hbs .sub-divider {
    margin-left: 295px;
}

.empresa-hbs .sub-title{
    font-family: "Helvetica Neue Bold";
    font-size: 18pt;
    color: #192B57;
}

.empresa-hbs > div:first-child {
    float: left;
    margin-right: 30px;
    overflow-y: hidden;
    height: 700px;
}

.empresa-hbs .empresa-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    padding-top: 30px;
    padding-right: 200px;
}

.empresa-hbs p {
    margin-bottom: 25px;
}

.empresa-hbs .empresa-content p:last-child {
    margin-bottom: 75px;
}

.empresa-hbs .o-grid {
    margin-top: 50px;
}

.empresa-hbs .o-grid .o-grid__cell:not(:last-child) {
    border-right: solid 1px lightgrey;
}

.empresa-hbs .o-grid img {
    width: 150px;
}

.empresa-hbs .o-grid .o-grid__cell:nth-child(3) img {
    margin-top: 40px;
}

@media only screen and (max-device-width: 480px) {
    .empresa-hbs .content-splash {
        display: none;
    }

    .empresa-hbs .empresa-content {
        padding-left: 10px;
        padding-right: 0;
    }
}