@font-face {
    font-family: "Helvetica Neue";
    src: url("fonts/helvetica/HelveticaNeue.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("fonts/helvetica/HelveticaNeueBold.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("fonts/helvetica/HelveticaNeueMedium.ttf") format("truetype");
}

@font-face {
    font-family: "Myriad Pro Italic";
    src: url("fonts/myriad/MyriadPro-It.otf") format("opentype");
}