.inicio-hbs .section-main p {
    font-size: 19pt;
    font-family: "Helvetica Neue Medium";
    color: #666666;
    padding: 0 75px;
}

.inicio-hbs .section-summary {
    font-size: 14pt;
    font-family: "Helvetica Neue Medium";
    color: #666666;
}

.inicio-hbs .section-summary img {
    width: 50px;
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
}

.inicio-hbs .section-productos .divider {
    margin-bottom: 50px;
}

.inicio-hbs .section-noticias .o-grid {
    margin-top: 50px;
}

.inicio-hbs .section-noticias .video {
    border-right: solid 1px lightgrey;
}

.inicio-hbs .section-noticias .certificacion {
    font-family: "Helvetica Neue";
    font-size: 14pt;
    color: #666666;
    margin-bottom: 30px;
}

.inicio-hbs .section-noticias .certificacion span {
    font-family: "Helvetica Neue Bold";
}

.inicio-hbs .section-noticias .certificacion-seal {
    float: left;
}

.inicio-hbs .section-noticias .certificacion-seal img {
    width: 300px;
}

.inicio-hbs .section-noticias .certificacion-descripcion {
    font-family: "Helvetica Neue";
    font-size: 13pt;
    color: #000000;
    margin-top: 20px;
    width: 275px;
    padding-left: 10px;
    padding-top: 15px;
}

.inicio-hbs .section-noticias .certificacion-duns {
    clear: left;
    position: relative;
    top: 15px;
}

.inicio-hbs .section-clientes .o-grid {
    margin-top: 50px;
}

.inicio-hbs .section-clientes .o-grid__cell:not(:last-child) {
    border-right: solid 1px lightgrey;
}

.inicio-hbs .section-clientes img {
    width: 150px;
}

.inicio-hbs .section-clientes .o-grid__cell:nth-child(3) img {
    margin-top: 40px;
}
