html {
  overflow-y: scroll;
}

body {
    font-family: "Helvetica Neue Bold";
}

header.layout-hbs .c-nav.header {
    color: black;
    background-color: white;
}

header.layout-hbs .logo {
    width: 200px;
}

header.layout-hbs .c-nav__content {
    padding: 10px;
}

header.layout-hbs .layout-menu-item {
    position: relative;
    top: -25px;
    color: #4D4D4D;
    font-size: 13pt;
    border-radius: 10px;
    box-shadow: none !important;
    padding: 10px;
    margin-right: 10px;
}

header.layout-hbs .c-nav__item.c-nav__item--active {
    color: white;
    background-color: #192B57;
}

header.layout-hbs .flag {
    width: 45px;
}

header.layout-hbs .languages {
    padding-top: 30px;
}

header.layout-hbs .language {
    font-size: 6pt;
    color: #808080;
    position: relative;
    bottom: 5px;
    opacity: 0.5;
}

header.layout-hbs .language span {
    position: relative;
    bottom: 8px;
    left: 2px;
}

header.layout-hbs .language.active {
    color: #4D4D4D;
    opacity: 1;
}

header.layout-hbs .language-link {
    text-decoration: none;
    float: right;
    margin-right: 15px;
}

.header .menu-brand {
    display: none;
}

footer.layout-hbs {
    color: #666666;
    background-color: #E6E6E6;
    font-family: "Helvetica Neue Medium";
    font-size: 10pt;
    padding: 20px 0 20px 20px;
}

footer.layout-hbs .logo {
    margin-top: 15px;
    width: 200px;
}

footer.layout-hbs .contacts div {
    position: relative;
}

footer.layout-hbs .contacts i {
    position: absolute;
    left: -25px;
    bottom: 1px;
}

@media only screen and (max-device-width: 480px) {
    .header .menu-logo {
        display: none;
    }

    .header .languages {
        float: none;
    }

    .header .menu-brand {
        display: initial;
    }

    header.layout-hbs .layout-menu-item {
        position: relative;
        top: 0;
        border-radius: 0;
        padding: 0 16px 0 16px;
        margin-right: 0;
    }
}