.localizacion-hbs {
    overflow: hidden;
}

.localizacion-hbs > div:first-child {
    float: left;
    margin-right: 30px;
    /*overflow-y: hidden;
    height: 700px;*/
}

.localizacion-hbs .localizacion-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    padding-top: 50px;
}

.localizacion-hbs .imagenes {
    margin-left: 300px;
}


.localizacion-hbs .mapa-imagen {
    max-width:100%;
    height: auto;
}

.localizacion-hbs .mapa-google {
    width:100%;
    min-height: 400px;
    height: auto;
}

@media only screen and (max-device-width: 480px) {
    .localizacion-hbs .content-splash {
        display: none;
    }

    .localizacion-hbs .imagenes {
        margin-left: 0;
    }
}