.productos-hbs {
    overflow: hidden;
}

.productos-hbs > div:first-child {
    float: left;
    margin-right: 30px;
}

.productos-hbs .productos-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    margin-top: 50px;
    margin-right: 160px;
}

.productos-hbs .materia-sub-title,
.productos-hbs .productos-sub-title {
    font-size: 17pt;
    margin-top: 20px;
    margin-bottom: 40px;
}

.productos-hbs .materia-prima {
    background-color: #666666;
    color: white;
    height: 30px;
    line-height: 30px;
}

.productos-hbs .materia-descripcion {
    font-size: 11pt;
    margin-top: 5px;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px
}

.productos-hbs .materia-summary {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.productos-hbs .productos-summary {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-device-width: 480px) {
    .productos-hbs .content-splash {
        display: none;
    }

    .productos-hbs .productos-content {
        padding-left: 10px;
        padding-right: 0;
        margin-right: 0;
    }

    .productos-hbs .materia-summary {
        display: none;
    }
}