.servicios-hbs {
    overflow: hidden;
}

.servicios-hbs > div:first-child {
    float: left;
    margin-right: 30px;
}

.servicios-hbs .servicios-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    margin-top: 50px;
    margin-right: 160px;
}

.servicios-hbs .servicios-sub-title {
    font-size: 17pt;
    margin-top: 20px;
    margin-bottom: 40px;
}

.servicios-hbs .servicio-img {
    width: 80px;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.servicios-hbs .servicios-summary {
    font-family: "Helvetica Neue Medium";
    font-size: 30pt;
    color: #192B57;
    text-align: center;
    font-style: italic;
}

.servicios-hbs .servicios-summary span {
    font-size: 38pt;
    font-weight: bold;
}

.servicios-hbs .injeccion-images {
    text-align: center;
    margin-left: 315px;
}

.servicios-hbs .injeccion-images img {
    width: 100%;
    padding-top: 50px;
}

@media only screen and (max-device-width: 480px) {
    .servicios-hbs .content-splash {
        display: none;
    }

    .servicios-hbs .servicios-content {
        padding-left: 10px;
        padding-right: 0;
        margin-right: 0;
    }

    .servicios-hbs .injeccion-images {
        margin-left: 0;
    }
}