.contacto-hbs {
    overflow: hidden;
}

.contacto-hbs > div {
    float: left;
    margin-right: 30px;
}

.contacto-hbs .localizacion-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    padding-top: 50px;
}

.contacto-hbs .contacto-content {
    margin-top: 150px;
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
}

.contacto-hbs .contacto-sub-title {
    font-size: 20pt;
    text-transform: uppercase;
    color: #29ABE2;
}

.contacto-hbs .contacto-direccion {
    margin-top: 20px;
}

@media only screen and (max-device-width: 480px) {
    .contacto-hbs .content-splash {
        display: none;
    }

    .contacto-hbs .contacto-content {
        padding-left: 10px;
        padding-right: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}
.empresa-hbs {
    overflow: hidden;
}

.empresa-hbs .sub-divider {
    margin-left: 295px;
}

.empresa-hbs .sub-title{
    font-family: "Helvetica Neue Bold";
    font-size: 18pt;
    color: #192B57;
}

.empresa-hbs > div:first-child {
    float: left;
    margin-right: 30px;
    overflow-y: hidden;
    height: 700px;
}

.empresa-hbs .empresa-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    padding-top: 30px;
    padding-right: 200px;
}

.empresa-hbs p {
    margin-bottom: 25px;
}

.empresa-hbs .empresa-content p:last-child {
    margin-bottom: 75px;
}

.empresa-hbs .o-grid {
    margin-top: 50px;
}

.empresa-hbs .o-grid .o-grid__cell:not(:last-child) {
    border-right: solid 1px lightgrey;
}

.empresa-hbs .o-grid img {
    width: 150px;
}

.empresa-hbs .o-grid .o-grid__cell:nth-child(3) img {
    margin-top: 40px;
}

@media only screen and (max-device-width: 480px) {
    .empresa-hbs .content-splash {
        display: none;
    }

    .empresa-hbs .empresa-content {
        padding-left: 10px;
        padding-right: 0;
    }
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("fonts/helvetica/HelveticaNeue.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("fonts/helvetica/HelveticaNeueBold.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("fonts/helvetica/HelveticaNeueMedium.ttf") format("truetype");
}

@font-face {
    font-family: "Myriad Pro Italic";
    src: url("fonts/myriad/MyriadPro-It.otf") format("opentype");
}
.inicio-hbs .section-main p {
    font-size: 19pt;
    font-family: "Helvetica Neue Medium";
    color: #666666;
    padding: 0 75px;
}

.inicio-hbs .section-summary {
    font-size: 14pt;
    font-family: "Helvetica Neue Medium";
    color: #666666;
}

.inicio-hbs .section-summary img {
    width: 50px;
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
}

.inicio-hbs .section-productos .divider {
    margin-bottom: 50px;
}

.inicio-hbs .section-noticias .o-grid {
    margin-top: 50px;
}

.inicio-hbs .section-noticias .video {
    border-right: solid 1px lightgrey;
}

.inicio-hbs .section-noticias .certificacion {
    font-family: "Helvetica Neue";
    font-size: 14pt;
    color: #666666;
    margin-bottom: 30px;
}

.inicio-hbs .section-noticias .certificacion span {
    font-family: "Helvetica Neue Bold";
}

.inicio-hbs .section-noticias .certificacion-seal {
    float: left;
}

.inicio-hbs .section-noticias .certificacion-seal img {
    width: 300px;
}

.inicio-hbs .section-noticias .certificacion-descripcion {
    font-family: "Helvetica Neue";
    font-size: 13pt;
    color: #000000;
    margin-top: 20px;
    width: 275px;
    padding-left: 10px;
    padding-top: 15px;
}

.inicio-hbs .section-noticias .certificacion-duns {
    clear: left;
    position: relative;
    top: 15px;
}

.inicio-hbs .section-clientes .o-grid {
    margin-top: 50px;
}

.inicio-hbs .section-clientes .o-grid__cell:not(:last-child) {
    border-right: solid 1px lightgrey;
}

.inicio-hbs .section-clientes img {
    width: 150px;
}

.inicio-hbs .section-clientes .o-grid__cell:nth-child(3) img {
    margin-top: 40px;
}

html {
  overflow-y: scroll;
}

body {
    font-family: "Helvetica Neue Bold";
}

header.layout-hbs .c-nav.header {
    color: black;
    background-color: white;
}

header.layout-hbs .logo {
    width: 200px;
}

header.layout-hbs .c-nav__content {
    padding: 10px;
}

header.layout-hbs .layout-menu-item {
    position: relative;
    top: -25px;
    color: #4D4D4D;
    font-size: 13pt;
    border-radius: 10px;
    box-shadow: none !important;
    padding: 10px;
    margin-right: 10px;
}

header.layout-hbs .c-nav__item.c-nav__item--active {
    color: white;
    background-color: #192B57;
}

header.layout-hbs .flag {
    width: 45px;
}

header.layout-hbs .languages {
    padding-top: 30px;
}

header.layout-hbs .language {
    font-size: 6pt;
    color: #808080;
    position: relative;
    bottom: 5px;
    opacity: 0.5;
}

header.layout-hbs .language span {
    position: relative;
    bottom: 8px;
    left: 2px;
}

header.layout-hbs .language.active {
    color: #4D4D4D;
    opacity: 1;
}

header.layout-hbs .language-link {
    text-decoration: none;
    float: right;
    margin-right: 15px;
}

.header .menu-brand {
    display: none;
}

footer.layout-hbs {
    color: #666666;
    background-color: #E6E6E6;
    font-family: "Helvetica Neue Medium";
    font-size: 10pt;
    padding: 20px 0 20px 20px;
}

footer.layout-hbs .logo {
    margin-top: 15px;
    width: 200px;
}

footer.layout-hbs .contacts div {
    position: relative;
}

footer.layout-hbs .contacts i {
    position: absolute;
    left: -25px;
    bottom: 1px;
}

@media only screen and (max-device-width: 480px) {
    .header .menu-logo {
        display: none;
    }

    .header .languages {
        float: none;
    }

    .header .menu-brand {
        display: initial;
    }

    header.layout-hbs .layout-menu-item {
        position: relative;
        top: 0;
        border-radius: 0;
        padding: 0 16px 0 16px;
        margin-right: 0;
    }
}
.localizacion-hbs {
    overflow: hidden;
}

.localizacion-hbs > div:first-child {
    float: left;
    margin-right: 30px;
    /*overflow-y: hidden;
    height: 700px;*/
}

.localizacion-hbs .localizacion-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    padding-top: 50px;
}

.localizacion-hbs .imagenes {
    margin-left: 300px;
}


.localizacion-hbs .mapa-imagen {
    max-width:100%;
    height: auto;
}

.localizacion-hbs .mapa-google {
    width:100%;
    min-height: 400px;
    height: auto;
}

@media only screen and (max-device-width: 480px) {
    .localizacion-hbs .content-splash {
        display: none;
    }

    .localizacion-hbs .imagenes {
        margin-left: 0;
    }
}
.productos-hbs {
    overflow: hidden;
}

.productos-hbs > div:first-child {
    float: left;
    margin-right: 30px;
}

.productos-hbs .productos-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    margin-top: 50px;
    margin-right: 160px;
}

.productos-hbs .materia-sub-title,
.productos-hbs .productos-sub-title {
    font-size: 17pt;
    margin-top: 20px;
    margin-bottom: 40px;
}

.productos-hbs .materia-prima {
    background-color: #666666;
    color: white;
    height: 30px;
    line-height: 30px;
}

.productos-hbs .materia-descripcion {
    font-size: 11pt;
    margin-top: 5px;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px
}

.productos-hbs .materia-summary {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.productos-hbs .productos-summary {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-device-width: 480px) {
    .productos-hbs .content-splash {
        display: none;
    }

    .productos-hbs .productos-content {
        padding-left: 10px;
        padding-right: 0;
        margin-right: 0;
    }

    .productos-hbs .materia-summary {
        display: none;
    }
}
.servicios-hbs {
    overflow: hidden;
}

.servicios-hbs > div:first-child {
    float: left;
    margin-right: 30px;
}

.servicios-hbs .servicios-content {
    font-family: "Helvetica Neue Medium";
    font-size: 15pt;
    color: #666666;
    margin-top: 50px;
    margin-right: 160px;
}

.servicios-hbs .servicios-sub-title {
    font-size: 17pt;
    margin-top: 20px;
    margin-bottom: 40px;
}

.servicios-hbs .servicio-img {
    width: 80px;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.servicios-hbs .servicios-summary {
    font-family: "Helvetica Neue Medium";
    font-size: 30pt;
    color: #192B57;
    text-align: center;
    font-style: italic;
}

.servicios-hbs .servicios-summary span {
    font-size: 38pt;
    font-weight: bold;
}

.servicios-hbs .injeccion-images {
    text-align: center;
    margin-left: 315px;
}

.servicios-hbs .injeccion-images img {
    width: 100%;
    padding-top: 50px;
}

@media only screen and (max-device-width: 480px) {
    .servicios-hbs .content-splash {
        display: none;
    }

    .servicios-hbs .servicios-content {
        padding-left: 10px;
        padding-right: 0;
        margin-right: 0;
    }

    .servicios-hbs .injeccion-images {
        margin-left: 0;
    }
}
.title {
    font-size: 21pt;
    color: #29ABE2;
    text-transform: uppercase;
}

.sub-title {
    font-family: "Helvetica Neue Bold";
    font-size: 24pt;
    color: #192B57;
}

.divider {
    border-bottom: solid 1px lightgrey;
}

.bx-wrapper .bx-viewport {
    box-shadow: 0 0 5px white;
}