<div class="contacto-hbs">
    {{#with res}}
    <div class="content-splash">
        <img src="images/contacto-sidebar.png" alt="" />
    </div>
    <div class="contacto-content content-splash">
        <img src="images/contacto-large.png" alt="">
    </div>
    <div class="contacto-content">
        <div class="sub-title contacto-sub-title">{{{contactoTitle}}}</div>
        <div class="contacto-direccion">
            INMADUSA
            <br /> {{{contactoDireccion}}}
            <a href="mailto:info@inmadusa.com.mx">info@inmadusa.com.mx</a>
        </div>
    </div>
    {{/with}}
</div>