<div class="empresa-hbs">
    {{#with res}}
    <div class="content-splash">
        <img src="images/empresa-sidebar.png" alt="" />
    </div>
    <div class="empresa-content">
        <div class="historia">
            <span class="sub-title">{{historiaTitle}}</span>
            {{{historiaDescription}}}
        </div>
        <div class="empresa">
            <span class="sub-title">{{empresaTitle}}</span>
            <p>
                {{empresaDescription}}
            </p>
            <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
                <div class="o-grid__cell u-centered">
                    <img src="images/nissan.png" alt="Nissan">
                </div>
                <div class="o-grid__cell u-centered">
                    <img src="images/gm.png" alt="General Motors">
                </div>
                <div class="o-grid__cell u-centered">
                    <img src="images/fca.png" alt="Fiat Chrysler Automobiles">
                </div>
                <div class="o-grid__cell u-centered">
                    <img src="images/volkswagen.png" alt="Wolkswagen">
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</div>