<main class="o-container o-container--xlarge u-pillar-box--small inicio-hbs">
    <section class="u-letter-box--super u-centered section-main">
        <ul class="bxslider inicio-bxslider" style="visibility: hidden;">
            <li>
                <img src="images/inicio_slider/slide1-{{lang}}.png" />
            </li>
            <li>
                <img src="images/inicio_slider/slide2-{{lang}}-update.png?v=1" />
            </li>
            <li>
                <img src="images/inicio_slider/slide3-{{lang}}.png" />
            </li>
            <li>
                <img src="images/inicio_slider/slide4-{{lang}}.png" />
            </li>
            <li>
                <img src="images/inicio_slider/slide5.png" />
            </li>
        </ul>
        <span class="title">{{res.mainTitle}}</span>
        <p>
            {{res.mainDescription}}
        </p>
    </section>
    <div class="divider"></div>
    <section class="u-letter-box--super section-summary">
        <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
            <div class="o-grid__cell o-grid__cell--width-25">
                <img src="images/icon1.png" alt="">
                <span>{{res.summaryMaquila}}</span>
            </div>
            <div class="o-grid__cell o-grid__cell--width-25">
                <img src="images/icon2.png" alt="">
                <span>{{res.summaryReloj}}</span>
            </div>
            <div class="o-grid__cell o-grid__cell--width-25">
                <img src="images/icon3.png" alt="">
                <span>{{res.summaryEmpaque}}</span>
            </div>
            <div class="o-grid__cell o-grid__cell--width-25">
                <img src="images/icon-iso.png" alt="">
                <span>{{res.summaryIso}}</span>
            </div>
        </div>
    </section>
    <section class="u-letter-box--super section-productos">
        <span class="sub-title">{{res.productos}}</span>
        <div class="divider"></div>
        <ul class="bxslider inicio-bxslider">
            <li>
                <img src="images/productos_slider/slide1-{{lang}}.png" />
            </li>
            <li>
                <img src="images/productos_slider/slide2-{{lang}}.png" />
            </li>
            <li>
                <img src="images/productos_slider/slide3-{{lang}}.png" />
            </li>
            <li>
                <img src="images/productos_slider/slide4-{{lang}}.png" />
            </li>
        </ul>
    </section>
    <section class="u-letter-box--super section-noticias">
        <span class="sub-title">{{res.noticias}}</span>
        <div class="divider"></div>
        <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
            <div class="o-grid__cell o-grid__cell--width-50 video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EPLY2Ht54wM" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <div class="o-grid__cell u-centered">
                <div class="certificacion">
                    {{res.noticiasCertificacion}}
                    <br \>
                    <span>ISO 9001:2015</span>
                </div>
                <div class="certificacion-seal">
                    <img src="images/certificacion.png" alt="Perry Johnson">
                </div>
                <div class="certificacion-seal certificacion-descripcion">
                    {{{res.noticiasDescripcion}}}
                </div>
                <div class="certificacion-duns">
                    <iframe id='Iframe1' src='http://dunsregistered.dnb.com/SealAuthentication.aspx?Cid=1' width='114px'
                        height='97px' frameborder='0' scrolling='no' allowtransparency='true'></iframe>
                </div>

            </div>
        </div>
    </section>
    <section class="u-letter-box--super section-clientes">
        <span class="sub-title">{{res.clientes}}</span>
        <div class="divider"></div>
        <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
            <div class="o-grid__cell u-centered">
                <img src="images/nissan.png" alt="Nissan">
            </div>
            <div class="o-grid__cell u-centered">
                <img src="images/gm.png" alt="General Motors">
            </div>
            <div class="o-grid__cell u-centered">
                <img src="images/fca.png" alt="Fiat Chrysler Automobiles">
            </div>
            <div class="o-grid__cell u-centered">
                <img src="images/volkswagen.png" alt="Wolkswagen">
            </div>
        </div>
    </section>
</main>