<header class="layout-hbs">
    <nav class="c-nav a-nav--fast c-nav--inline header divider">
        <div class="c-nav__content menu-brand">INMADUSA</div>
        <div class="c-nav__content menu-logo">
            <img src="images/logo.png" alt="Logo" class="logo" />
        </div>
        {{#each links}}
        <a class="c-nav__item layout-menu-item {{#if isActive}}c-nav__item--active{{/if}}" data-route="{{route}}" href="{{url}}">{{text}}</a>
        {{/each}}
        <div class="c-nav__content c-nav__item--right languages">
            <a {{#if enableEnglishLink}}href="#/en" {{/if}} class="language-link" onclick="Inmadusa.clickLanguage('en');">
                <div class="language {{#unless enableEnglishLink}}active{{/unless}}">
                    <img src="images/usa.png" alt="English" class="flag" />
                    <span>ENG</span>
                </div>
            </a>
            <a {{#if enableSpanishLink}}href="#/es" {{/if}} class="language-link" onclick="Inmadusa.clickLanguage('es');">
                <div class="language {{#unless enableSpanishLink}}active{{/unless}}">
                    <img src="images/mexico.png" alt="Español" class="flag" />
                    <span>ESP</span>
                </div>
            </a>
        </div>
    </nav>
</header>
<div class="content"></div>
<footer class="layout-hbs">
    <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
        <div class="o-grid__cell o-grid__cell--width-40 u-centered">
            <img src="images/logo.png" alt="Logo" class="logo" />
        </div>
        <div class="o-grid__cell o-grid__cell--width-40 contacts">
            <div>INMADUSA</div>
            <div>Inyección y Maquila de Durango S.A. de C.V.</div>
            <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Km 2.5 Carretera Torreón, Fracc. La Cima C.P. 34204 Durango, Dgo.
            </div>
            <div>
                <i class="fa fa-phone" aria-hidden="true"></i>
                (618) 8 33 60 20
            </div>
            <div>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:info@inmadura.com.mx">info@inmadusa.com.mx</a>
            </div>
        </div>
        <div class="o-grid__cell">
            <iframe id='Iframe1' src='http://dunsregistered.dnb.com/SealAuthentication.aspx?Cid=1' width='114px' height='97px' frameborder='0'
                scrolling='no' allowtransparency='true'></iframe>
        </div>
    </div>
</footer>