<div class="localizacion-hbs">
    {{#with res}}
    <div class="content-splash">
        <img src="images/localizacion-sidebar.png" alt="" />
    </div>
    <div class="localizacion-content">
        <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
            <div class="o-grid__cell o-grid__cell--width-35">
                {{{direccion}}}
            </div>
        </div>

        <div class="imagenes">
            <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
                <div class="o-grid__cell o-grid__cell--width-50">
                    <img src="images/localizacion-mapa.png" class="mapa-imagen" alt="" />
                </div>
                <div class="o-grid__cell o-grid__cell--width-50">
                    <iframe class="mapa-google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14574.338787380928!2d-104.62061857331805!3d24.045706083894746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb7ada272abc5%3A0xe283fd192846aea7!2sInmadusa!5e0!3m2!1ses-419!2smx!4v1471559514129"
                        frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
    {{/with}}
</div>