<div class="productos-hbs">
    <div class="content-splash">
        <img src="images/productos-sidebar.png" alt="" />
    </div>
    <div class="productos-content">
        {{#with res}}
        <div class="o-container">
            <div class="sub-title">{{materiaTitle}}</div>
            <div class="materia-sub-title">{{materiaSubtitle}}</div>
            <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full u-centered">
                <div class="o-grid__cell o-grid__cell--width-25">
                    <img src="images/productos-materia1.png" alt="{{materia1}}">
                    <div class="materia-prima">{{materia1}}</div>
                    <div class="materia-descripcion">{{materia1Info}}</div>
                </div>
                <div class="o-grid__cell o-grid__cell--width-25">
                    <img src="images/productos-materia2.png" alt="{{materia2}}">
                    <div class="materia-prima">{{materia2}}</div>
                    <div class="materia-descripcion">{{materia2Info}}</div>
                </div>
                <div class="o-grid__cell o-grid__cell--width-25">
                    <img src="images/productos-materia3.png" alt="{{materia3}}">
                    <div class="materia-prima">{{materia3}}</div>
                    <div class="materia-descripcion">{{materia3Info}}</div>
                </div>
                <div class="o-grid__cell o-grid__cell--width-25">
                    <img src="images/productos-materia4.png" alt="{{materia4}}">
                    <div class="materia-prima">{{materia4}}</div>
                    <div class="materia-descripcion">{{materia4Info}}</div>
                </div>
            </div>
            <div class="materia-summary">
                {{{materiaSummary}}}
            </div>
        </div>
        {{/with}}
        <div class="o-container">
            <div class="sub-title">{{res.productos}}</div>
            <div class="productos-sub-title">{{res.productosSubtitle}}</div>
            <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
                <div class="o-grid__cell o-grid__cell--width-70">
                    <ul class="bxslider productos-bxslider">
                        <li>
                            <img src="images/productos_slider/slide1-{{lang}}.png" />
                        </li>
                        <li>
                            <img src="images/productos_slider/slide2-{{lang}}.png" />
                        </li>
                        <li>
                            <img src="images/productos_slider/slide3-{{lang}}.png" />
                        </li>
                        <li>
                            <img src="images/productos_slider/slide4-{{lang}}.png" />
                        </li>
                    </ul>
                </div>
                <div class="o-grid__cell">
                    {{{res.productosList}}}
                </div>
            </div>
            <div class="productos-summary">{{res.productosSummary}}</div>
        </div>
    </div>
</div>