<div class="servicios-hbs">
    {{#with res}}
    <div class="content-splash">
        <img src="images/servicios-sidebar.png" alt="" />
    </div>
    <div class="servicios-content">
        <div>
            <div class="sub-title">{{serviciosTitle}}</div>
            <div class="servicios-sub-title">{{serviciosSubtitle}}</div>
            <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
                <div class="o-grid__cell o-grid__cell--width-10"></div>
                <div class="o-grid__cell o-grid__cell--width-40">
                    <img src="images/icon1.png" class="servicio-img">
                    <div class="">{{maquilaText}}</div>
                </div>
                <div class="o-grid__cell o-grid__cell--width-40">
                    <img src="images/icon2.png" class="servicio-img">
                    <div class="">{{relojText}}</div>
                </div>
            </div>
            <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
                <div class="o-grid__cell o-grid__cell--width-10"></div>
                <div class="o-grid__cell o-grid__cell--width-40">
                    <img src="images/icon3.png" class="servicio-img">
                    <div class="">{{empaqueText}}</div>
                </div>
                <div class="o-grid__cell o-grid__cell--width-40">
                    <img src="images/icon-iso.png" class="servicio-img">
                    <div class="">{{isoText}}</div>
                </div>
            </div>
        </div>
        <div>
            <div class="sub-title">{{injeccionTitle}}</div>
            <div class="servicios-sub-title">{{injeccionSubtitle}}</div>
            <div class="servicios-summary">{{{injeccionSummary}}}</div>
        </div>
        <div class="injeccion-images">
            <img src="images/servicios-injeccion1.png" />
            <img src="images/servicios-injeccion2.png" />
        </div>
    </div>
    {{/with}}
</div>